.navbar-nav>li>a {
    padding-top: 37px;
    padding-bottom: 35px;
	padding-left: 25px;
	padding-right: 25px;
	height: 97px;
}

.navbarText {
	font-size: 16px;
}

.nav>li {
    position: relative;
    display: block;
	height: 97px;
}

.navbar-inverse .navbar-brand {
  color: white;  
}

.navbar {
  background-image: none;  
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
